/* ==UserStyle==
@name           RG Pen 1.0
@namespace      roblox.com
@version        1.0
@description    to be finished
@author         Chplayz
@homepageURL https://github.com/IamChplayz/Rgu-Pen
@supportURL https://github.com/IamChplayz/Rgu-Pen/blob/main/README.md
@preprocessor   stylus

//end of main metadata


==/UserStyle== */

@-moz-document domain("www.roblox.com") {  
    /*mirror test*/
}
